@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  /* applies global font styling */
  font-family: Montserrat, sans-serif;
  font-weight: 500;

  /* resets default display properties applied by browsers */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* places everything below the navbar to not interfere */
  margin-top: 60px;
}

/* 
LIST OF SECTIONS:

-Default section and text attributes
-Navigation bar
-Welcome!  (index.html)
-Reflection  (reflection.html)
-Accessibility  (accessibility.html)
-Fun!  (fun.html)
-Media queries
*/

#skipToContent {
  position: absolute;
  top: 2px;
  left: 2px;
  color: black;
  z-index: 10;
}

/* --------------------
Start of Navigation bar
-------------------- */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background: white;
  border-bottom: 2px solid rgb(255, 79, 27);
}
nav ul {
  min-width: 65%;
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
}
nav a {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(255, 79, 27);
  padding: 18px;
  transition: 0.2s ease;
}
nav a:hover,
nav a:focus,
nav a.active {
  color: white;
  background-color: rgb(255, 79, 27);
}
#navbarBurgerMenu {
  display: none;
}
/* --------------------
End of Navigation bar
-------------------- */

/* --------------------
Start of Default section and text attributes
-------------------- */
section {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  margin-top: 20vh;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(255, 79, 27);
  margin-bottom: 20px;
}
h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}
p {
  margin-bottom: 30px;
  padding: 2px 0 10px 10px;
  border-left: rgba(255, 79, 27, 0.2) solid 3px;
  border-bottom: rgba(255, 79, 27, 0.2) solid 2px;
}
/* --------------------
End of Default section and text attributes
-------------------- */

/* --------------------
Start of Welcome! page
-------------------- */

/* --------------------
End of Welcome! page
-------------------- */

/* --------------------
Start of Reflection page
-------------------- */

/* --------------------
End of Reflection page
-------------------- */

/* --------------------
Start of Accessibility page
-------------------- */

/* --------------------
End of Accessibility page
-------------------- */

/* --------------------
Start of Fun! page
-------------------- */

/* --------------------
End of Fun! page 
-------------------- */

/* --------------------
Start of Media queries
-------------------- */
@media only screen and (max-width: 950px) {
  #skipToContent {
    display: none;
  }
  #navbarBurgerMenu {
    height: 50px;
    width: 60px;
    position: absolute;
    top: 1px;
    right: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    border: none;
    border: black solid 2px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease;
  }
  #navbarBurgerMenu div {
    height: 6px;
    width: 70%;
    border-radius: 5px;
    background-color: rgb(255, 79, 27);
  }
  nav {
    width: inherit;
    right: 0;
    border: none;
  }
  nav ul {
    display: none;
    flex-direction: column;
    margin-top: 55px;
    box-shadow: black 0 0 5px 3px;
  }
  #navbarUl.active {
    display: flex;
  }

  section {
    margin-top: 10vh;
  }
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    border-left: none;
  }
}
/* --------------------
End of Media queries
-------------------- */
