@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* font for Fun! page */

* {
  /* applies default font styling */
  font-family: sans-serif;
  font-weight: 500;

  /* resets default display properties applied by browsers */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* places all content below the navbar to not interfere */
  margin-top: 60px;
}

/*  LIST OF SECTIONS:
-Skip to content button
-Navigation bar
-Default section, text and image attributes
-Welcome!________(index.html)
-Reflection______(reflection.html)
-Accessibility___(accessibility.html)
-Discussion______(discussion.html)
-Fun!____________(fun.html)
-Media queries  */

/* --------------------
Skip to content button (below)
-------------------- */
#skip-to-content {
  position: fixed;
  top: 6px;
  left: 6px;
  padding: 3px;
  color: black;
  background-color: white;
  transform: translateX(-110%);
  transition: 0.2s ease;
  z-index: 10;
}
#skip-to-content:focus {
  transform: translateX(0);
}

/* Stops "skip to content" button from colliding with navbar links as screen-width narrows (before entering mobile view) */
@media only screen and (max-width: 1155px) and (min-width: 768px) {
  #skip-to-content {
    top: 65px;
  }
}

/* --------------------
Skip to content button (above)
-------------------- */

/* --------------------
Navigation bar (below)
-------------------- */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background: white;
  border-bottom: rgb(28, 15, 102) solid 3px;
  box-shadow: rgba(50, 50, 50, 0.8) 0 0 3px 1px;
  z-index: 9;
}
nav ul {
  width: 95%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
}
nav a {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(28, 15, 102);
  padding: 18px;
  transition: 0.2s ease;
}
nav a:hover,
nav a:focus,
nav a.active {
  color: white;
  background-color: rgb(28, 15, 102);
}
nav a:hover,
nav a:focus {
  text-decoration: underline; /* the underline makes it easier to distinguish between the active page and the link that is being hovered or focused */
}
#navbar-burger-menu {
  /* Button only displayed on smaller screen sizes */
  display: none;
}
/* --------------------
Navigation bar (above)
-------------------- */

/* --------------------
Default section, text and image attributes (below)
-------------------- */
section {
  width: 95%;
  max-width: 1000px;
  padding: 15vh 0 35vh 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: rgb(28, 15, 102);
  border-bottom: rgb(28, 15, 102) solid 3px;
  padding-bottom: 30px;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
p {
  line-height: 1.6em;
  padding-left: 8px;
  border-left: rgb(28, 15, 102) solid 1px;
}
img {
  width: 100%;
}
.image-and-text-div p {
  padding: 0;
  border: none;
  color: rgb(110, 110, 110);
  font-size: 0.8rem;
  position: relative;
}
.grid .image-and-text-div p {
  /* stops paragraph from taking up additional space and repositioning the images inside grids */
  position: absolute;
}
/* --------------------
Default section, text and image attributes (above)
-------------------- */

/* --------------------
Welcome! page (below)
-------------------- */
.welcome #main-image {
  margin-bottom: 40px;
}
.welcome .grid {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 20px;
  row-gap: 80px;
}
.welcome .grid img {
  margin: auto;
}
.welcome .grid p {
  padding: 0;
  border: none;
  margin: auto;
}
/* --------------------
Welcome! page (above)
-------------------- */

/* --------------------
Reflection page (below)
-------------------- */

/* No necessary changes to Reflection page */

/* --------------------
Reflection page (above)
-------------------- */

/* --------------------
Accessibility page (below)
-------------------- */
.accessibility h2 {
  padding-top: 70px;
}
#first-h2 {
  padding-top: 0;
}
#link-example-image {
  /* Added border to make it clear that this is not a real link, but an example image */
  padding: 10px;
  border: black solid 1px;
}
.accessibility .small-images {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
.accessibility .color-contrast-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.accessibility .color-contrast-div img {
  padding: 5px;
  margin: 0 auto;
  border: black solid 2px;
}
.accessibility .image-and-text-div {
  width: 49%;
  margin: 0;
}
/* --------------------
Accessibility page (above)
-------------------- */

/* --------------------
Discussion page (below)
-------------------- */

/* No necessary changes to Discussion page */

/* --------------------
Discussion page (above)
-------------------- */

/* --------------------
Fun! page (below)
-------------------- */
.fun * {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
.fun {
  /* This background image is purely decorative and does not need alt or title tags according to https://www.w3.org/WAI/tutorials/images/decorative/ because they would only add clutter to screen readers. */
  background-image: url(img/funBackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.fun nav {
  border-bottom: rgb(1, 129, 19) solid 3px;
  box-shadow: rgba(255, 255, 0, 0.5) 0 0 5px 1px;
}
.fun nav a {
  color: rgb(1, 129, 19);
}
.fun a:hover,
.fun a:focus,
.fun a.active {
  color: yellow;
  background-color: rgb(1, 129, 19);
}
.fun section {
  padding-bottom: 0;
}
.fun h1 {
  color: rgb(255, 255, 255);
  padding: 0;
  border: none;
  margin: 80px 0;
}
.fun h1 span {
  /* star symbols */
  color: yellow;
  text-shadow: yellow 0 0 20px;
}
.fun p {
  padding: 0;
  border: none;
  margin: auto;
  font-size: 1.1rem;
  text-align: center;
  color: white;
}
.fun .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  row-gap: 140px;
}
.fun .grid .image-and-text-div {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.fun .grid .image-and-text-div p {
  font-size: 0.8rem;
  font-weight: 400;
}

/* Decoration images */
.fun .top-lights {
  background-image: url(img/decorationLights.svg);
  background-color: rgba(202, 19, 53, 0.4);
  box-shadow: rgba(202, 19, 53, 0.4) 0 0 20px 20px;
  /* background-color and box-shadow adds fading to text behind the top lights. */
  position: fixed;
  height: 81px;
  width: 100%;
  top: 58px;
  z-index: 8;
}
.fun .trees {
  min-width: 80px;
  width: 15%;
  position: fixed;
  bottom: 0;
  margin: 0;
  z-index: 8;
}
#tree-1 {
  left: 1%;
  transform: scaleX(-1);
}
#tree-2 {
  right: 1%;
}
.fun .santa {
  margin: 100px auto 0 auto;
  width: 300px;
}
/* --------------------
Fun! page (above)
-------------------- */

/* --------------------
Media queries (below)
-------------------- */
@media only screen and (max-width: 768px) {
  /* Navigation bar */
  #navbar-burger-menu {
    /* burger-menu button */
    height: 45px;
    width: 150px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    border: none; /* Removes default border on buttons */
    border-left: black solid 2px;
    border-bottom: black solid 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 3px 1px;
    cursor: pointer;
  }
  #navbar-burger-menu span {
    font-size: 1.1rem;
    border: none;
    margin: auto;
  }
  #navbar-burger-menu img {
    width: 35px;
    margin: auto;
  }
  #navbar-burger-menu:hover {
    outline: black solid 2px;
  }
  nav {
    width: inherit;
    right: 0;
    border: none;
    box-shadow: inherit;
  }
  nav ul {
    display: none;
    width: 150px;
    flex-direction: column;
    margin-top: 45px;
    border: rgb(28, 15, 102) solid 2px;
    border-right: none;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 3px 1px;
  }
  #navbar-ul.active {
    /* activated when clicked using JavaScript in script.js file */
    display: flex;
  }

  /* Default section and text attributes */
  body {
    margin-top: 0;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    padding: 0;
    border: none;
  }

  /* Welcome page */
  .welcome .grid {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .welcome .grid p {
    margin-bottom: 100px;
  }
  .welcome .grid .image-and-text-div p {
    position: relative;
    margin-bottom: 25px;
  }

  /* Accessibility page */
  .accessibility .color-contrast-div {
    flex-direction: column;
    gap: 35px;
  }
  .accessibility .image-and-text-div {
    width: 100%;
  }
  .accessibility .image-and-text-div p {
    text-align: center;
  }

  /* navbar for Fun! page */
  .fun #navbar-burger-menu {
    border-left: rgb(1, 129, 19) solid 2px;
    border-bottom: rgb(1, 129, 19) solid 2px;
    box-shadow: rgba(255, 255, 0, 0.8) 0 0 5px 1px;
  }
  .fun #navbar-burger-menu:hover {
    outline: rgb(1, 129, 19) solid 2px;
  }
  .fun ul {
    border: rgb(1, 129, 19) solid 3px;
    box-shadow: inherit;
  }

  /* Fun! page */
  .fun .top-lights {
    top: 0;
    height: 50px;
  }
  .fun p {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
  }
  .fun .grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .fun .grid .image-and-text-div p {
    position: relative;
  }
  .fun .remove-images-mobile {
    display: none;
  }
}
/* --------------------
Media queries (above)
-------------------- */
